---
import "../CSS/style.css";
import Header from "../components/header.astro";
import Joints from "../components/joints.astro";
import Footer from "../components/footer.astro";
---

<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon_io/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon_io/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon_io/favicon-16x16.png" />
    <link rel="manifest" href="/favicon_io/site.webmanifest" />
    <link rel="stylesheet" href="https://use.typekit.net/cfq0rxa.css" />
    <title>Contact us</title>
  </head>
  <body>
    <Header />
    <main>
  
      <h1 class="white">Is it me you're looking for?</h1>
      <h2 class="white">We dont have table reservations</h2>
 
      <form id="formular">
        <input type="text" id="name" placeholder="Name" required />
        <input type="text" id="email" placeholder="Email" required />
        <input type="text" id="subject" placeholder="Subject" />
        <textarea rows="20" placeholder="What's on your mind.." required></textarea>
        <button type="submit">Send</button>
      </form>

      <div id="tak" style="display:none;">
       <h2>Thank you for your message!</h2> 
      </div>
    </main>
    <Footer />
  </body>
</html>

<style>
  @media (max-width: 800px) {
    input,
    textarea {
      background-color: var(--paper);
      border: none;
      height: 40px;
      width: 300px;
    }
  }
  @media (min-width: 800px) {
    input,
    textarea {
      background-color: var(--paper);
      border: none;
      height: 40px;
      width: 500px;
    }
  }
  textarea {
    height: 200px;
    padding: 10px;
  }
  input {
    padding-left: 10px;
  }
  input::placeholder {
    font-size: 15px;
    font-family: "American typewriter";
  }
  textarea::placeholder {
    font-size: 15px;
    font-family: "American typewriter";
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin: 2em;
  }
  main {
    text-align: center;
    margin-top: 5em;
  }
  button {
    border: none;
    border-radius: 100px;
    background-color: var(--blue);
    height: 40px;
    width: 200px;
    color: white;
    font-family: "American typewriter";
    font-size: 17px;
    margin-top: 0.5em;
  }
  #tak{
    font-size: 25px;
    color: var(--text-white);
    text-align: center;
    margin-bottom: 4em;
  }
</style>
<script>
  //Indlæses
  document.addEventListener("DOMContentLoaded", function(){
    //Henter formularen via id
    const form = document.getElementById("formular");

    //Lyt på det indsendte
    form.addEventListener("submit", function(event){
      event.preventDefault();

    //Vis tak besked
    const tak = document.getElementById("tak");
    tak.style.display = "block";

    //Nulstil form
    document.querySelector("form").reset();
   
    });
  });
</script>
