---
import "../CSS/style.css";
import "../CSS/animation.css";
import Hero from "../components/hero.astro";
import Knap from "../components/knap.astro";
import Footer from "../components/footer.astro";
import Joints from "../components/joints.astro";
import Aboutsection from "../components/aboutsection.astro";
import Lunch from "../components/lunch.astro";
import Instagram from "../components/instagram.astro";
import Playlistecard from "../components/playlistecard.astro";
import Islandskeflag from "../components/islandskeflag.astro";
import Storlogo from "../components/storlogo.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="content" content="Hungry for a burger? Grab a cheeseburger at Kødbyen or try our lunch offer at Nørrebro"/>

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon_io/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon_io/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon_io/favicon-16x16.png" />
    <link rel="manifest" href="/favicon_io/site.webmanifest" />
    <link rel="stylesheet" href="https://use.typekit.net/cfq0rxa.css" />
    <title>Tommi's Burger Joint Denmark</title>
  </head>
  <body>
    <Hero><Storlogo /></Hero>
    <main>
      <h1 id="2" class="white">Our Joint's</h1>
      <Playlistecard />
      <Joints />
      <Lunch />
      <Aboutsection />
      <Instagram />
      <Islandskeflag />
    </main>
    <Footer />
  </body>
</html>

<style>
  main {
    text-align: center;
  }
  h1 {
    margin: 2em;
  }
</style>
