---
import "../CSS/style.css";
import "../CSS/animation.css";
import Hero from "../components/hero.astro";
import Knap from "../components/knap.astro";
import Header from "../components/header.astro"
import Footer from "../components/footer.astro";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="https://use.typekit.net/cfq0rxa.css">
		<title>Astro</title>
	</head>
	<section class="Header">
		<Header />
	</section>

	

	<body>
		<Hero> Burger Joint</Hero>
	<main>
		<Knap link="/contact/" size="lille">Contact us</Knap>	
	</main>
		<Footer />
	

	
	</body>
</html>

<style>
	main {
		height: 200px;
		width: 100%;
		background-color: rgb(0, 0, 0);
		background-image: url("/img/graineffect.png");
		background-repeat: repeat;	
	}
	


</style>