---
import "../CSS/style.css";
import "../CSS/animation.css";
import Hero from "../components/hero.astro";
import Knap from "../components/knap.astro";
import Footer from "../components/footer.astro";
import Joints from "../components/joints.astro";
import Aboutsection from "../components/aboutsection.astro";
import Lunch from "../components/lunch.astro";
import Instagram from "../components/instagram.astro";
import Playlistecard from "../components/playlistecard.astro";
import Islandskeflag from "../components/islandskeflag.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://use.typekit.net/cfq0rxa.css" />

    <script
      src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"
    ></script>
    <script
      src="https://unpkg.com/@lottiefiles/lottie-interactivity@latest/dist/lottie-interactivity.min.js"
    ></script>

    <title>Astro</title>
  </head>
  <body>
    <Hero>Burger Joint</Hero>
    <main>
      <h1 class="white">Our Joint's</h1>
      <Playlistecard />
      <Joints />
      <Lunch />
      <Aboutsection />
      <Instagram />
      <Islandskeflag />
      <lottie-player
        id="firstLottie"
        src="https://lottie.host/a67473d8-f072-42d3-b993-b219a4ed5471/AtKpmA7yy6.json"
        background="transparent"
        style="width: 180px; height: 180px;"></lottie-player>
      <!-- <script>
LottieInteractivity.create({
    player: '#firstLottie',
    mode: 'scroll',
    actions: [
        {
            visibility: [0,1],
            type: 'seek',
            frames: [0, 300],
        },
    ]
});
</script> -->
    </main>
    <Footer />
  </body>
</html>

<style>
  main {
    background-color: rgb(0, 0, 0);
    background-image: url("/img/graineffect.png");
    background-repeat: repeat;
    text-align: center;
  }
  h1 {
    margin: 2em;
  }
</style>
