---
// import "../CSS/style.css";
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import Friescard from "../components/friescard.astro";
import Drinkscard from "../components/drinkscard.astro";
import Ordercard from "../components/ordercard.astro";
import Alleburger from "../components/alleburger.astro";
import Knap from "../components/knap.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="content"
      content="Bacon cheese? or vegan offer? Whatever your preference is, our menu has it. Try Tommi's."
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon_io/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon_io/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon_io/favicon-16x16.png"
    />
    <link rel="manifest" href="/favicon_io/site.webmanifest" />
    <link rel="stylesheet" href="https://use.typekit.net/cfq0rxa.css" />
    <title>Tommi's Menu</title>
  </head>

  <body>
    <Header />
    <main>
      <h1>Menu</h1>
      <p>
        All burgers are served with lettuce, onion,
        <br class="mobile" /> ketchup and mustard
      </p>
      <p>
        Our burger patties are 150 grams and high quality
        <br class="mobile" />beef and are cooked medium
      </p>
      <p>*May contain nuts, sesame, egg and rye</p>
      <Ordercard />
      <h4>Offer of the century</h4>
      <Alleburger />
      <Friescard />
      <Drinkscard />

      <section class="bunden">
        <h1 class="Hungry">Hungry yet?</h1>
        <img class="pilen" src="/svg/hungryyet.svg" alt="Pil" />
        <div class="knap">
          <Knap style="filled" size="lille">Order now</Knap>
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>

<style>
  /* Mobile view */
  @media (max-width: 800px) {
    .bunden {
      margin-bottom: 6em;
      margin-right: 10px;
      text-align: center;
    }

    .bunden h1 {
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 22px;
    }

    .pilen {
      display: none;
    }

    h1 {
      color: var(--text-white);
      text-align: center;
      margin-bottom: 1em;
    }
    h4 {
      color: var(--text-white);
      text-align: left;
      margin-left: 35px;
      margin-top: 40px;
      margin-bottom: -10px;

      font-size: 22px;
      font-family: "itc-american-typewriter", serif;
      font-weight: 700;
      font-style: normal;
    }
    p {
      font-size: 12px;
      line-height: normal;
      color: var(--text-white);
      text-align: center;
      margin-top: 10px;
      margin-bottom: 7px;
    }
    .mobile {
      display: initial;
    }

    .hungry-bottom {
      position: relative;
    }
    img {
      position: absolute;
    }
    .desktop {
    }
    main {
      margin-top: 5em;
    }
  }

  /* Desktop view */
  @media (min-width: 800px) {
    .bunden {
      margin-bottom: 6em;
      margin-right: 10px;
      text-align: center;
    }

    .bunden h1 {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .pilen {
      display: none;
    }
    h1 {
      color: var(--text-white);
      text-align: center;
      margin-bottom: 10px;
    }
    h4 {
      color: var(--text-white);
      margin-left: 35px;
      margin-top: 60px;
      margin-bottom: 10px;

      font-size: 35px;
      font-family: "itc-american-typewriter", serif;
      font-weight: 700;
      font-style: normal;
    }
    p {
      color: var(--text-white);
      text-align: center;
      font-family: "itc-american-typewriter", serif;
      font-weight: 500;
      font-style: normal;
      font-size: 16px;
      line-height: 23px;

      margin-bottom: 7px;
    }
    .mobile {
      display: none;
    }

    .desktop {
      text-align: right;
      margin-right: 300px;
    }
    .hungry {
      margin-left: 350px;
    }
    main {
      margin-top: 10em;
    }
  }
  @media (min-width: 1300px) {
    .grid-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0px;
    }
    .bunden {
      margin-bottom: 10em;
      margin-top: 5em;
      text-align: left;
    }

    .bunden h1 {
      margin-left: -9.5em;
      margin-top: 10px;
    }

    .pilen {
      display: block;
      max-width: 100%;
      width: 75px;
      margin-left: 39em;
      margin-top: 10px;
      margin-right: 3em;
    }
    .knap {
      margin-left: 45em;
      margin-top: -50px;
    }
  }
</style>
