---
import "../CSS/style.css";
import "../CSS/animation.css";
import Knap from "../components/knap.astro";
---
<section class="container">
<img class="img2" src="/img/bla_burgerpin.webp" alt="">
<img class="img1" src="/img/burgerpin.webp" alt="pin" />

<div class="tekstboks">
  <h1>Tommi's Burger</h1>
  <p>
    Since 1981 we have made a lot of burgers! <br> We believe that our no nonsense
    combination of fantastic beef, fresh vegetables, the right mix of
    condiments, sandwiched in our freshly baked bun is what makes the perfect
    burger.
  </p>
  <div class="knap">
  <Knap size="max" style="filled">Read our story</Knap></div>
</div>

</section>


<style>
  .tekstboks {
    background-color: var(--paper);
    padding: 20px;
    text-align: left;
  }
  h1 {
    margin-bottom: 0.5em;
  }
  .knap {
    text-align: center;
    margin-top: 0.5em;
  }

  @media(max-width:800px) {
     .tekstboks {
        max-width: 300px;
        margin: auto;
     }
     .img1 {
        max-width: 300px;
     }
     .img2 {
        display: none;
     }
  }

   @media(min-width:800px) {
    .container {
        height: 700px;
        width: 800px;
        position: relative;
        margin: auto;
        margin-top: 5em;
        margin-bottom: 4em;
    }
      .tekstboks {
        max-width: 400px;
        padding: 30px;
        position: absolute;
        right: 0;
        top: 200px;

      }
      .img1 {
        max-width: 400px;
        position: absolute;
        top: 0;
        right: 30%;
      }
        .img2 {
       max-width: 300px;
       position: absolute;
       top: 40%;
       left: 0;
       z-index: 100;
     }
  }

</style>
