---
import "../CSS/style.css";
---

<footer>
  <section class="Footer">
  
    <div class="footer-column">
      <h4>Follow us</h4>
      <ul class="socials">
        <li>
          <a href="https://www.instagram.com/tommisburgerjointdk/"
            ><img src="/svg/instagram.svg" alt="Instagram" /></a>
        </li>
        <li>
          <a
            href="https://www.facebook.com/pages/Tommis-Burger-Joint-K%C3%B8dbyen/104092424645147"
            ><img src="/svg/facebook.svg" alt="Facebook" /></a>
        </li>
      </ul>
      <ul>
        <h4>Contact us</h4>
        <li><a href="/contact/"><img src="../svg/mail.svg" alt="Mail" /></a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h4>Kødbyen</h4>
      <p>
        Hørkerboderne 21-23 <br />
        1712 København V <br />
        Denmark
      </p>
      <p>33 31 34 34</p>
      <a href="">Kontrolrapport</a>
    </div>
    <div class="footer-column">
      <h4>Nørrebro</h4>
      <p>
        Hørkerboderne 21-23 <br />
        1712 København V <br />
        Denmark
      </p>
      <p>33 31 34 34</p>
      <a href="">Kontrolrapport</a>
    </div>
    <div class="footer-column">
      <h4>Headquarters</h4>
      <p>
        Hørkerboderne 21-23 <br />
        1712 København V <br />
        Denmark
      </p>
      <p>33 31 34 34</p>
      <a href="">Kontrolrapport</a>
    </div>
  </section>  
</footer>

<style>
  @media (max-width: 450px) {
    .Footer {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1em;
      margin-left: 1em;
    }
    .footer-column {
      margin-top: 2em;
      margin-bottom: 1em;
    }
  }
  @media (min-width: 450px) {
    .Footer {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1em;
       margin-left: 1em;
    }
    .footer-column {
      margin-top: 2em;
      margin-bottom: 1em;
    }
  }

  @media (min-width: 900px) {
    .Footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  .bg {
    opacity: 0.4;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
  }
  footer {
    font-family: "itc-american-typewriter", serif;
    color: white;
    font-size: 120%;
    background-color: black;
    background-image: url("/img/footerbg.webp");
    background-size: cover;
    background-position: center;
    padding: 5%;
    position: relative;
    overflow: hidden;
    margin-top: 4em;
 
  }

  a {
    font-family: "itc-american-typewriter", serif;
    font-style: normal;
    color: white;
  }

  h4 {
    margin-bottom: 1em;
  }

  ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  .socials {
    display: flex;
    gap: 1em;
    margin-bottom: 2em;
  }
  p {
    margin-bottom: 0.5em;
  }
</style>
