---
import "../CSS/style.css";
import "../CSS/animation.css";
import Knap from "../components/knap.astro";
import Header from "../components/header.astro";
---

<section class="hero">

  <video id="background-video" autoplay loop muted>
    <source src="/img/test2.mp4" type="video/mp4" />
  </video>
<div class="text-overlay">
  <Header></Header>
  <h1 class="white fade-in-up"><slot /></h1>
  <div class="knapper">
  <Knap link="https://burgerjoint.mealo.dk/" target="_blank" size="lille" style="filled">Order now</Knap>
  <Knap link="/menu/" size="lille" style="borderwhite">See menu</Knap>
</div>
  <img 
    class="fade-out-down"
    src="../svg/arrow-down.svg"
    alt="Arrow scroll down"
  />
</div>
</section>

<style>

  .text-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    text-align: center;

  }
 
  @media(max-width:700px) {
  .knapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 1em;
    justify-content: center;
  }
  img {
   margin-top: 7em;
  }
 }
  @media(min-width:700px) {
 img {
   margin-top: 5em;
  }
  .knapper {
    display: flex;
    gap: 2em;
    margin-top: 1em;
    justify-content: center;
  }
 }
  #background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
  @media (max-width: 500px) {
    h1 {
      font-size: 50px;
       margin-top: 4.5em;
    }
  }
  @media (min-width: 500px) {
    h1 {
      font-size: 70px;
      margin-top: 3.5em;
    }
  }
  @media (min-width: 700px) {
    h1 {
      font-size: 100px;
      margin-top: 2.5em;
    }
  }
  @media (min-width: 1000px) {
    h1 {
      font-size: 120px;
       margin-top: 1.7em;
    }

  }
 

</style>
