---
import "../CSS/style.css"
const { link, size, style } = Astro.props;
---

<a class="knap" href={link} target="_parent"><button data-size={size} data-style={style}><p><slot></slot></p></button></a>

  <style>
@media (max-width: 900px) {
      [data-size="lille"] {
        padding-inline: 45px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 50px;
        border: none;
        background-color: red;
      }
    }

@media(min-width:900px) {
    [data-size="lille"] {
        padding-inline: 40px;
        padding: 15px;
        border-radius: 50px;
         background-color: red;
    }
}

  </style>