---
import "../CSS/style.css"
const { link, size, style } = Astro.props;
---

<a class="knap" href={link} target="_parent"><button data-size={size} data-style={style}><p><slot></slot></p></button></a>

  <style>
@media (max-width: 900px) {
      [data-size="lille"] {
       border: none;
        border-radius: 100px;
        height: 40px;
        width: 200px;
        color: white;
        font-family: "American typewriter";
        font-size: 17px;
        margin-top: 0.5em;
      }
    }

@media(min-width:900px) {
    [data-size="lille"] {
        border: none;
        border-radius: 100px;
        height: 40px;
        width: 200px;
        color: white;
        font-family: "American typewriter";
        font-size: 17px;
        margin-top: 0.5em;
    }
}
 [data-size="max"] {
        border: none;
        border-radius: 100px;
        height: 50px;
        width: 90%;
        color: white;
        font-family: "American typewriter";
        font-size: 17px;
        margin-top: 1em;
 }



 [data-style="filled"] {
   background-color: var(--blue);
 }
 [data-style="border"] {
   border: solid 3px var(--red);
   color: var(--red);
   background-color: transparent;
 }

[data-style="filled"]:hover {
  background-color: var(--red);
}
[data-style="border"]:hover {
  background-color: var(--red);
  color: white;
  border: none;
}

  </style>