---
import "../CSS/style.css";
---
<header>
    <a href="/"><img src="../public/svg/logolille.svg" alt="Logo" class="logo"></a>
  </header>

<style>
    /* Telefon */
      @media(max-width:800px){
  .logo {
  position: absolute;
  top: 20px;
  left: 20px; 
  width: 150px; 
  height: auto; 
}

      }


/* Computer */
@media(min-width:800px){
    .logo {
  position: absolute;
  top: 25px; 
  left: 40px; 
  width: 200px; 
  height: auto; 
}

}
</style>
