---
import "../CSS/style.css";
---
<section class="lunch">
<h1 class="white">Hungry for lunch?</h1>
<h2 class="white">Don't miss out on our lunch offer on weekdays from 11:00-17:00 for only:</h2>
<h2 class="white"><b>89,-</b></h2>
<h3>Only at Nørrebro</h3>
</section>

<style>
h3 {
    color: var(--red);
padding-top: 2em;
font-size: 20px;
}
h2 {
    padding-top: 1em;
}

 @media(max-width:800px) {
.lunch {
    padding: 20px;
    margin-top: 2em;
    margin-bottom: 4em;
}

 }

 @media(min-width:800px) {
.lunch {
   max-width: 800px;
   margin: auto;
    margin-top: 10em;
    margin-bottom: 8em;
}
 }

</style>