---
import "../CSS/style.css";
---

<header>
  <nav>
    <ul>
      <li><a href="/menu/">Menu</a></li>
      <li><a href="/#2">Our joint's</a></li>
      <li><a href="/story/">Our story</a></li>
      <li><a href="https://burgerjoint.mealo.dk/" target="_blank">Order now</a></li>
      <li><a href="/contact/">Contact us</a></li>
    </ul>
  </nav>
</header>

<style>
  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-end;
    gap: 5%;
    padding-top: 4%;
  }

  a {
    font-family: "itc-american-typewriter", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 23px;
    text-decoration: none;
    color: white;
  }

  .blue_link a {
    color: var(--blue);
  }
  nav {
    margin-inline: 5%;
  }
  li a:hover{
  color: var(--red);
}

  @media (max-width: 1000px) {
    nav {
      display: none;
    }
  }
</style>
