---
import "../CSS/style.css"
---

<card>
    <section class="order-grid">
        <a class="knap" href="https://burgerjoint.mealo.dk/">
            <section class="order-boks">
                <div class="order-flex">
                    <img src="../public/img/order.svg" alt="Ordernow">
                    <div class="tekst">
                        <p>Order</p>
                        <p class="order">Now</p>
                    </div>
                </div>
            </section>
        </a>
    </section>
</card>

<style>
/* Mobile view */
    @media (max-width:800px){
        .order-grid .knap{
            display: none;
        }

/* Desktop view */
    @media (min-width:800px){
    .order-grid{
        margin-left: 50px;
        display: flex;
        justify-content: right;
    }
    .knap{
        text-decoration: none;
        color: var(--text-white);
        justify-content: right;
    }
    p{
        font-size: 12px;
        margin-left: 35px;
    }
   .order-boks{
        display: flex;
        width: 200px;
        background-color: var(--red);
        border-radius: 100px;
        opacity: 80%;
        z-index: 100;
        position: fixed;
        top: 50%;
        right: -85px;
        transform: translateY(-50%);
        
    }
    .order-flex{
        display: flex;
        flex-direction: column;
    }
    .tekst{
        text-align: left;
    }
    .order{
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 10px;
        margin-top: -10px;
    }
    img{
        max-width: 100%;
        width: 50px;
        margin-top: 10px;
        margin-left: 45px;
    }
}
}
</style>