---
import "../CSS/style.css"
---

<card>
    <section id="play-grid" class="play-grid hidden">
        <a class="knap" href="https://open.spotify.com/playlist/2B3aAjgr3iQz30FJyfnaqp?si=f74df1cd455342ef" target="_blank">
            <section class="play-boks">
                <div class="play-flex">
                    <img src="../public/img/spotifylogo.svg" alt="Spotify">
                    <div class="tekst">
                        <p>Tommi's</p>
                        <p class="play">Playlist</p>
                    </div>
                </div>
            </section>
        </a>
    </section>
</card>


<style>

/* Mobile view */
    @media (max-width:800px){
        .play-grid{
            display: none;
        }

}

/* Desktop view */
    @media (min-width:800px){
    #play-grid{
        margin-left: 50px;
        display: flex;
        justify-content: right;
    }
  
    .knap{
        text-decoration: none;
        color: var(--text-white);
        justify-content: right;
    
    }
    p{
        font-size: 18px;
        font-weight: 500;
        margin-left: 15px;
        margin-top: 5px;
    }
   .play-boks{
        display: flex;
        width: 200px;
        background-color: rgba(200, 55, 55, 0.85);
        border-radius: 100px;
        z-index: 100;
        position: fixed;
        top: 50%;
        right: -85px;
        transform: translateY(-50%);
    }
    .play-flex{
        display: flex;
        flex-direction: column;
    }
    .tekst{
        text-align: left;
    }
    .play{
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 10px;
        margin-top: -10px;
        margin-left: 38px;
    }
    img{
        max-width: 100%;
        width: 45px;
        margin-top: 15px;
        margin-left: 45px;
    }
    .hidden {
        opacity: 0;
        transition: opacity 0.5s ease-out;
    }
    .visible {
        opacity: 1;
    }
 
}

</style>

<script>
    // Opret en Intersection Observer
        var observer = new IntersectionObserver(function(entries, observer) {
        entries.forEach(function(entry) {
            if (entry.isIntersecting) {
            // Elementet er synligt i viewporten
            entry.target.classList.add('visible');
            } else {
            // Elementet er uden for viewporten
            entry.target.classList.remove('visible');
            }
        });
        });

    // Vælg det ønskede element
        var playGrid = document.getElementById('play-grid');

    // Tilføj elementet til Intersection Observeren
        observer.observe(playGrid);
        var playGrid = document.getElementById('play-grid');

    window.addEventListener('scroll', function() {
    var scrollPosition = window.pageYOffset || document.documentElement.scrollTop;
    if (scrollPosition > 500) {
        playGrid.classList.remove('hidden');
        playGrid.classList.add('visible');
    } else {
        playGrid.classList.remove('visible');
        playGrid.classList.add('hidden');
    }
    });
</script>