---
import "../CSS/style.css";
---

<body>
    <img src="../public/svg/tommislogostor.svg" alt="Tommis burger joint" class="storlogo">
 </body>

 <style>
.storlogo{
max-width: 100%;
width: 800px;
}
 </style>